.everything{
  background-color: #061151;
  color: white;
}
h1{
  text-align: center;
}

.navbar{
  text-align: center;
}

.horizontal-scrolling > .row {
  overflow-x: auto;
}

.horizontal-scrolling > .row > .col-3 {
  display: inline-block;
  float: none;
}

.options{
  border: 4px double #000030;
  margin: 25px;
  padding: 20px 30px;
  color: black;
  background-color: white;
}
.lowprice{
  border: 2px solid #000030;
  margin:3px;
  padding: 5px 5px;
  background-color: #d7eef2;
}

.midprice{
  border: 2px solid #000030;
  margin:3px;
  padding: 5px 5px;
  background-color: #d7eef2;
}

.highprice{
  border: 2px solid #000030;
  margin:3px;
  padding: 5px 5px;
  background-color: #d7eef2;
}

.ourbutton{
margin:5px;
background-color: #ffff80;
padding:4px;
}

.text-center{
font-family:"arial Black", Gadget, sans-serif;
font-size: 127px;
}
